# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/project/librapid.VC.db
*.opendb
/example/http/ssl
/project/.vs/librapid/v14
/project/librapid/Debug
/project/librapid/x64/Debug/librapid.tlog
/project/librapid/x64/Debug
/project/x64/Debug
/project/librapid/x64/Release
/project/x64/Release
/project/librapid/log/2016-06-13
/project/librapid/log/2016-06-14
/project/librapid/log/2016-06-15
/project/librapid/log/2016-06-21
/project/librapid/My Amplifier XE Results - librapid
/project/librapid/log/2016-06-22
